<!DOCTYPE html>
<html>
  <head>
    <title>add Position</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<script  type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script  type="text/javascript" src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  </head>
  <body>

  	<form class="form-horizontal" method="POST"  action="/addPosition">
	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Title:</label>
	    <div class="col-sm-10">
		    <input type="text" class="form-control" name="title" placeholder="Title">
	    </div>
	  </div>

	   <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Education:</label>
	    <div class="col-sm-10">
	    	<select  name="education" class="form-control">
	    		<option value="student">student</option>
	    		<option value="bachelor ">bachelor </option>
	    		<option value="master">master</option>
	    		<option value="phd">phd</option>
	    	</select>
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="inputEmail3" class="col-sm-2 control-label">Experience:</label>
	    <div class="col-sm-10">
		    <input type="number" class="form-control" name="experience" placeholder="experience">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="inputPassword3" class="col-sm-2 control-label">Skills:</label>
	    <% skills.forEach(function(skill){ %>

	   
	    <div class="col-sm-offset-2 col-sm-10">
	      <div class="checkbox col-xs-2">
	        <label><input type="checkbox" name="skill_<%=skill%>"><%= skill %></label>
	      </div>
	       <div class="col-xs-2">
		    <input type="number" class="form-control" placeholder="Rank" name="skill_<%=skill%>">
		  </div>
	    </div>
	     <% }); %>

	  </div>
	  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>
  
</form>


  </body>
 </html>
  