<!DOCTYPE html>
<html>
  <head>
    <title>cv</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<script  type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script  type="text/javascript" src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
<a class="btn btn-success" href="/addCv">add cv</a>




  	<table class="table table-bordered">
	  	<tr>
	  	    <th>name</th>
	  	    <th>age</th>
		    <th>skills</th> 
		</tr>

		<% persones.forEach(function(pos){ %>
			<tr>
				<td><%= pos.name %></td>
				<td><%= pos.age %></td>

			    <td>
			    	<% pos.skills.forEach(function(skill){ %>
			    		<%= skill.name +' : '+skill.score + ' ,'%>
			    	<% }); %>
			    </td> 
			</tr>
		<% }); %>
 
	</table>

  </body>
 </html>
  